$primary: #6435ca;
$primary-lighten: #d5b7ff;
$secondary: #9bca35;
$accent: #35caaf;
$warning: #ca3550;
$cblue: #45cbef;

$colors: (
    theme: (
        primary: #6435ca,
        primary-lighten: #d5b7ff,
        secondary: #9bca35,
        accent: #35caaf,
        warning: #ca3550,
        white: #fff,
    ),
    code: (
        yellow: #f1c916,
        blue: #45cbef,
        pink: #c4527b,
        grey: #acb494,
        darkgrey: #272822,
    ),
);

@function clr($section, $shade) {
    $color: map-get(map-get($colors, $section), $shade);
    @return $color;
}

.clr-c-yellow {
    color: clr(code, yellow);
}

.clr-c-blue {
    color: clr(code, blue);
}
.clr-c-pink {
    color: clr(code, pink);
}
.clr-c-grey {
    color: clr(code, grey);
}
.clr-c-darkgrey {
    color: clr(code, darkgrey);
}
.clr-t-primary {
    color: clr(theme, primary);
}
.clr-t-white {
    color: clr(theme, white);
}

.bgclr-t-white {
    background-color: clr(theme, white);
}
.bgclr-c-darkgrey {
    background-color: clr(code, darkgrey);
}
.bgclr-c-blue {
    background-color: clr(code, blue);
}
.bgclr-t-primary {
    background-color: clr(theme, primary);
}
