@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Blinker", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 960px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1264px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 960px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1264px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  h3 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 960px) {
  h3 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1264px) {
  h3 {
    font-size: 4.5rem;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1264px) {
  h4 {
    font-size: 2.125rem;
  }
}

h5 {
  font-size: 0.8rem;
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  h5 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  h5 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1264px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 0.8rem;
  font-weight: 500;
}
@media only screen and (min-width: 600px) {
  h6 {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 960px) {
  h6 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1264px) {
  h6 {
    font-size: 1.25rem;
  }
}

p,
label,
span,
text-area,
input,
a,
button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.weight {
  font-weight: 700;
}

.clr-c-yellow {
  color: #f1c916;
}

.clr-c-blue {
  color: #45cbef;
}

.clr-c-pink {
  color: #c4527b;
}

.clr-c-grey {
  color: #acb494;
}

.clr-c-darkgrey {
  color: #272822;
}

.clr-t-primary {
  color: #6435ca;
}

.clr-t-white {
  color: #fff;
}

.bgclr-t-white {
  background-color: #fff;
}

.bgclr-c-darkgrey {
  background-color: #272822;
}

.bgclr-c-blue {
  background-color: #45cbef;
}

.bgclr-t-primary {
  background-color: #6435ca;
}

.fill-height {
  height: 100vh;
  max-height: 100vh;
}

.fill-width {
  width: 100vw;
  max-width: 100vw;
}

.d-flex {
  display: flex;
  flex-flow: row nowrap;
}

.d-grid {
  display: grid;
}

.flex-col {
  flex-flow: column nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-space {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
  align-content: flex-start;
}

.gap-sm {
  gap: 1em;
}

.spacer {
  width: 95vw;
}
.spacer.ten {
  height: 15vh;
}

.hero_wrapper {
  padding-left: 5vw;
  background-color: #272822;
}

.interface {
  white-space: pre;
  width: 50vw;
}
.interface__interfacedata {
  line-height: 1.2em;
}
@media only screen and (min-width: 600px) {
  .interface__interfacedata {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 960px) {
  .interface__interfacedata {
    font-size: 2.7rem;
  }
}
@media only screen and (min-width: 1264px) {
  .interface__interfacedata {
    font-size: 3rem;
  }
}

#cursor {
  padding-left: 1rem;
}

.hero__title {
  white-space: pre;
  color: #acb494;
  font-size: 2rem;
}
@media only screen and (min-width: 600px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .hero__title {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1264px) {
  .hero__title {
    font-size: 4rem;
  }
}

.indent-1 {
  padding-left: 2em;
}

.indent-2 {
  padding-left: 4em;
}

.presentation {
  height: 50vh;
  margin: 0 1em;
}
.presentation__greeting {
  padding-top: 6em;
  gap: 0.5em;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 2.5fr;
}
.presentation__greeting h4 {
  font-size: 1.8rem;
  font-weight: 400;
  grid-column: 1/1;
  grid-row: 1/1;
}
@media only screen and (min-width: 600px) {
  .presentation__greeting h4 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 960px) {
  .presentation__greeting h4 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1264px) {
  .presentation__greeting h4 {
    font-size: 3.5rem;
  }
}
.presentation__hello {
  font-size: 2rem;
  font-weight: 400;
}
@media only screen and (min-width: 600px) {
  .presentation__hello {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .presentation__hello {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1264px) {
  .presentation__hello {
    font-size: 4.5rem;
  }
}
.presentation__profilebubble {
  height: 100px;
  width: 100px;
  grid-column: 2/2;
  grid-row: 1/span 2;
  justify-self: center;
  margin-top: 1.5em;
}
@media only screen and (min-width: 600px) {
  .presentation__profilebubble {
    height: 175px;
    width: 175px;
  }
}
@media only screen and (min-width: 960px) {
  .presentation__profilebubble {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (min-width: 1264px) {
  .presentation__profilebubble {
    height: 250px;
    width: 250px;
  }
}
.presentation__story {
  grid-column: 1/1;
  grid-row: 2/2;
}
.presentation__story p {
  font-weight: 400;
  max-width: 20ch;
  font-size: 1rem;
  line-height: 1.2rem;
}
@media only screen and (min-width: 600px) {
  .presentation__story p {
    max-width: 30ch;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 960px) {
  .presentation__story p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
@media only screen and (min-width: 1264px) {
  .presentation__story p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
  height: 10vh;
}
.header__links {
  display: none;
}
@media only screen and (min-width: 600px) {
  .header__links {
    display: flex;
    width: 60vw;
    margin: 2vh 0 2vh 0;
  }
  .header__links-link {
    padding: 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.225rem;
  }
}

#header__burger {
  display: block;
}
@media only screen and (min-width: 600px) {
  #header__burger {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
}

/* remove blue outline */
button:focus {
  outline: 0;
}

.header__burger-button {
  position: relative;
  margin: 1em;
  height: 30px;
  width: 32px;
  display: block;
  z-index: 999;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  pointer-events: all;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__burger-bar {
  background-color: #45cbef;
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 2px;
  width: auto;
  margin-top: -1px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.burger-bar--1 {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.burger-bar--2 {
  transform-origin: 100% 50%;
  transform: scaleX(0.8);
}

.header__burger-button:hover .burger-bar--2 {
  transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
  transform: scaleX(1);
}

.burger-bar--3 {
  transform: translateY(6px);
}

#header__burger.active .header__burger-button {
  transform: rotate(-180deg);
}

#header__burger.active .header__burger-bar {
  background-color: #9bca35;
}

#header__burger.active .burger-bar--1 {
  transform: rotate(45deg);
}

#header__burger.active .burger-bar--2 {
  opacity: 0;
}

#header__burger.active .burger-bar--3 {
  transform: rotate(-45deg);
}

ul.sidebar__panel-nav {
  list-style-type: none;
}

ul.sidebar__panel-nav > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}

.sidebar__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sidebar__panel {
  overflow-y: auto;
  background-color: #6435ca;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 990;
  padding: 3rem 20px 2rem 20px;
  width: 300px;
}

/*# sourceMappingURL=styles.css.map */
