@use './../breakpoints' as *;
@use './../colours' as *;

.spacer {
    width: 95vw;
    &.ten {
        height: 15vh;
    }
}

.hero_wrapper {
    padding-left: 5vw;
    background-color: clr(code, darkgrey);
}

// Printed text header
.hero__title {
    white-space: pre;
    color: clr(code, grey);
}

// Static textbody
.interface {
    white-space: pre;
    width: 50vw;
    margin-top: 2em;
}

#cursor {
    padding-left: 1rem;
}

.indent-1 {
    padding-left: 1em;
}
.indent-2 {
    padding-left: 2em;
}
