@use './../colours' as *;
@use './../breakpoints' as *;

.presentation {
    height: 50vh;
    margin: 0 1em;

    &__greeting {
        padding-top: 6em;
        gap: 0.5em;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.5fr 2.5fr;
        h4 {
            font-size: 1.8rem;
            font-weight: 400;
            grid-column: 1 / 1;
            grid-row: 1 / 1;
            @include mq(sm) {
                font-size: 2rem;
            }
            @include mq(md) {
                font-size: 2.5rem;
            }
            @include mq(lg) {
                font-size: 3.5rem;
            }
        }
    }
    &__hello {
        font-size: 2rem;
        font-weight: 400;
        @include mq(sm) {
            font-size: 2.5rem;
        }
        @include mq(md) {
            font-size: 3rem;
        }
        @include mq(lg) {
            font-size: 4.5rem;
        }
    }
    &__profilebubble {
        height: 100px;
        width: 100px;
        grid-column: 2 / 2;
        grid-row: 1 / span 2;
        justify-self: center;
        margin-top: 1.5em;
        @include mq(sm) {
            height: 175px;
            width: 175px;
        }
        @include mq(md) {
            height: 200px;
            width: 200px;
        }
        @include mq(lg) {
            height: 250px;
            width: 250px;
        }
    }
    &__story {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        p {
            font-weight: 400;
            max-width: 20ch;
            font-size: 1rem;
            line-height: 1.2rem;
            @include mq(sm) {
                max-width: 30ch;
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
            @include mq(md) {
                font-size: 1.5rem;
                line-height: 2.2rem;
            }
            @include mq(lg) {
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
    }
}
