@use './../colours' as *;
@use './../breakpoints' as *;

.presentation {
    height: 100vh;
    margin: 0 1em;
    @include mq(sm) {
        height: 65vh;
    }
    @include mq(md) {
        height: 75vh;
    }
    @include mq(lg) {
        height: 85vh;
    }

    &__greeting {
        padding: 4em 1.2em;
        gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 4fr;
        @include mq(sm) {
            padding-top: 4em;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.7fr 2fr 2fr;
        }
        @include mq(md) {
            padding-top: 6em;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 0.5fr 2.5fr;
        }
        h2 {
            font-weight: 400;
            align-self: center;
            grid-column: 1 / 1;
            grid-row: 2 / 2;
            @include mq(sm) {
                align-self: start;
                grid-column: 1 / span 2;
                grid-row: 1 / 1;
            }
            @include mq(md) {
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }
        }
    }
    &__hello {
        font-size: 2rem;
        font-weight: 400;
        @include mq(sm) {
            font-size: 2.5rem;
        }
        @include mq(md) {
            font-size: 3rem;
        }
        @include mq(lg) {
            font-size: 4.5rem;
        }
    }
    &__profilebubble {
        height: 100px;
        width: 100px;
        justify-self: center;
        align-self: center;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        @include mq(sm) {
            grid-column: 3 / 3;
            grid-row: 1 / 3;
            align-self: start;
            height: 175px;
            width: 175px;
            padding-left: 1.5em;
            padding-top: 1.5em;
        }
        @include mq(md) {
            grid-column: 2 / 2;
            grid-row: 1 / 3;
            height: 200px;
            width: 200px;
        }
        @include mq(lg) {
            height: 250px;
            width: 250px;
        }
    }
    &__story {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
        @include mq(sm) {
            grid-column: 1 / 4;
            grid-row: 2 / 4;
        }
        p {
            // max-width: 20ch;
            @include mq(sm) {
                max-width: 30ch;
            }
            @include mq(lg) {
                max-width: 42ch;
            }
        }
        &-section {
            padding-bottom: 0.4em;
        }
    }
}
