@use './../colours' as *;
@use './../breakpoints' as *;

.projects {
    background-color: $primary;
}
.triangles {
    position: relative;
    width: 100vw;
    margin-top: -90px;
    height: 100px;
    @include mq(sm) {
        margin-top: -140px;
        height: 150px;
    }
    @include mq(md) {
        margin-top: -160px;
        height: 170px;
    }
    @include mq(lg) {
        margin-top: -200px;
        height: 260px;
    }

    &__light {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-right: 90vw solid transparent;
        border-bottom: 60px solid $primary-lighten;
        @include mq(sm) {
            border-bottom: 70px solid $primary-lighten;
        }
        @include mq(md) {
            border-bottom: 80px solid $primary-lighten;
        }
        @include mq(lg) {
            border-bottom: 130px solid $primary-lighten;
        }
    }

    &__dark {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid $primary;
        border-left: 100vw solid transparent;
        @include mq(sm) {
            border-bottom: 90px solid $primary;
        }
        @include mq(md) {
            border-bottom: 100px solid $primary;
        }
        @include mq(lg) {
            border-bottom: 150px solid $primary;
        }
    }
}
.projects__wrapper {
    margin-top: 4em;
}

.projects__card {
    background-color: $white;
    margin: 1.5em;
    padding-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 5px 20px 5px;
    overflow: hidden;
    // height: 45vh;
    width: 80vw;
    @include mq(lg) {
        width: 20vw;
    }
    &-mobile {
        @include mq(md) {
            display: none;
        }
    }
    &-desktop {
        display: none;
        @include mq(md) {
            display: block;
        }
    }
    &-title {
        position: relative;
        text-align: center;
        top: 80%;
        opacity: 1;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    }
    &-description {
        padding: 1em 1.5em;
        text-align: center;
        @include mq(lg) {
            -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            position: absolute;
            bottom: 0em;
            height: 0em;
            background-color: #fafafc;
            width: 14em;
        }
    }
    &-links {
        a {
            margin: 0.5em;
            font-size: 2.5rem;
            color: $primary;
        }
    }
}

.card-text {
    padding-top: 1em;
}

.projects__card:hover {
    @include mq(lg) {
        transform: translateY(-5px) scale(1.05) translateZ(0);
        -webkit-box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
            0 24px 46px rgba(206, 178, 252, 0.48);
        -moz-box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
            0 24px 46px rgba(206, 178, 252, 0.48);
        box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
            0 24px 46px rgba(0, 0, 0, 0.48);
    }
    .projects__card {
        &-description {
            @include mq(lg) {
                height: 12em;
                padding: 0.5em 1em;
                h5 {
                    opacity: 1;
                }
            }
        }
    }
}

.chip {
    background-color: $secondary;
    // color: $white;
    margin: 0.3em;
    padding: 0.3em 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8rem;
    font-weight: 700;
}

.scrollindicator-up {
    width: 100vw;
    z-index: 2;
    padding: 2em;
}
.fai {
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
    font-size: 2rem;
    cursor: pointer;
    color: $white;
}
